/* 
Fonts added to wbesite from google fonts // styles type: regular 400, medium 500, semi-bold 600, bold 700
font-family: 'Playfair Display', serif;

   font-family: 'Pacifico', cursive;

   font-family: 'Poppins', sans-serif;
*/


body{
	background-color:#efefef;
}
.menu{
	.navbar-dark .navbar-toggler-icon {
    	background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgb(255, 255, 255)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");
	}
	.navbar-dark .navbar-toggler{
		border:none;
	}
	.Menu_Form{
	padding:50px;
		ul{
			h5{

			}
			list-style-type:none;
			a{
				color:white;
				&:hover{
					text-decoration:none;
					color:black;
				}
			}
		}
	}
	padding:5px;
	background-color:#e02752;
	color:white;

	/*.wrapBrger{
		div{	
			width: 35px;
		    height: 5px;
		    background-color: white;
		    margin: 6px 0;
	    }
	}*/

}
.pinText{
	background-image: linear-gradient(180deg,#e02752 0%,#f85c88 100%) ;
	background-color: #ff514f;
	color:white;
	.cloud{
		position:relative;
		background-image: url("/img/bubbles.png");
		width:100%;
		background-repeat: repeat-x;
		background-position: center bottom;
		z-index:9;
		height:100px;
		margin-top:-100px;
	}
	.pineapple{
			z-index:1;
		}
		.btn-violet{
			color:white;
			width:30%;
			margin:10px;
			box-shadow:5px 10px 100px #000;
			&:hover{
				transform: scale(1.1);
			}
		}
		.btn-dblue{
			background-color:#00163f;
			color:white;
			width:30%;
			margin:10px;
			box-shadow:5px 10px 180px #000;
			&:hover{
				transform: scale(1.1);
			}
		}
	.infoAboutProject__fontStyle{
	font-family: 'Pacifico', cursive;
	}
}
.compsPhotoText{
	padding: 50px 20px 50px 0px;
	p{
		color:#b6b8ba;
	}
	
}
.compsPhoto{
	padding:0px;
	margin: 50px 0px 50px 0px;
	box-shadow: 30px 30px #652a7a, 5px 5px 25px #000;
}
.purple_strap
	{
		height:5px;
		width:100px;
		background-color:#652a7a;
		margin: 10px 0;
	}
.block{
	padding: 15px 0px;
	&__transform{
		position:relative;
		box-shadow: 10px 10px 50px #000;
		&:hover{
			box-shadow:none;
			transform: scale(1.1);
		}
	}
}
.offer{
	background-color:#fff;
	padding:0px 6px;
	margin:15px 0px;
	&:hover{
		transform:scale(1.05);
	}
	&__text{
		color:#b6b8ba;
	}
	&__title{
		font-size:18px;
		font-family: 'Playfair Display', serif;
	}
	&__data{
		font-family: 'Poppins', sans-serif;
		color:lightgray;
		font-size:12px;
	}
}
.btn-violet{
	background-color:#7100bc;
	margin: 20px 0px 70px 0px;
	&:hover{
		background-color:#7100bc;
		transform:scale(1.1);
	}
}
.summation{
	background-color:#f13863;
	color:white;
	&__nonType{
		list-style-type:none;
		&-link{
			color:white;
			&:hover{
				color:white;
				text-decoration:none;
			}
		}
	}
}
